body{
    padding: 0;
    margin: 0;
    background-color: #ffc02d;
}
#fb-root{
    width:100vw;
    height:40vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#login{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70vw;
    height: 40vh;
    text-align: center;
    font-size: 10pt;
}

#login2{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90vw;
    height: auto;
}

.fb-login-button{
     margin-left: 8%;
     width:40%;
     height:20%;
     color: green;
     float:left;
            }

.g-signin2{
     margin-right: 8%;
     width:40%;
     height:20%;
     float:right;
            }

#signin{
    width:66vw;
    height:20%;
    font-size: 12pt;
    background-color: #753aff;
    color: white;
}

#signup{
    margin-top: 25%;
    width:66vw;
    height:20%;
    font-size: 12pt;
    background-color: #753aff;
    color: white;
}

#name{
    width:65vw;
    height:15%;
    font-size: 12pt;
}

#log{
    width:66vw;
    height:20%;
    font-size: 12pt;
    background-color: #753aff;
    color: white;
}

#password{
    width:65vw;
    height:15%;
    font-size: 12pt;
}

a{
    text-decoration: none;
}

#email{
    width:65vw;
    height:15%;
    font-size: 12pt;
}

 #name, #log, #password, #getpwd, #name1, #register, #password1, #email{
    display: none;
}


@media only screen and (max-width: 768px) {
    .fb-login-button{
        margin-top: 5%;
     margin-left: 17%;
     }

.g-signin2{
    margin-top: 5%;
     margin-right:0;
     }
}


@media only screen and (max-width: 414px) {
  .fb-login-button{
     margin-left: 8%;
            }

.g-signin2{
     margin-right: 2%;
     }
}

@media only screen and (max-width: 320px) {
  .fb-login-button{
     margin-left: 5%;
            }

.g-signin2{
     margin-right: 5%;
     }
}
